<section class="user-index">
  <h1 class="caption">Selected post for selected user</h1>

  <div class="users-container">
    <div class="posts-container">
      <div class="post-card">
        <h2 class="post-title"><%= @post.title%> by <%= @post.user.name %></h2>
        <p class="post-stats">Comments: <%= @post.comments_counter %>, LIkes: <%= @post.likes_counter %></p>

        <p class="post-text"><%= @post.text %></p>
      </div>

      <div class="comment comment-show">
        <h3 class="comment-caption">Comments</h3>
        <% @post.recent_comments.each do |comment| %>
          <p class="user-comment"><%= comment.user.name %>: <%= comment.text %></p>
        <% end %>
      </div>
    </div>
    
    <%= button_to 'Like button', user_post_likes_path(@post.user_id, @post) %>
   
    </br>

    <div>
      <h3>Add new comment</h2>

      <%= form_with url: user_post_comments_path(@post.user_id, @post) do |f| %>
        <%= f.label :text %></br>
        <%= f.text_area :text %></br>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
  
  <dvi>
    <%= link_to 'Back to posts', user_posts_path(@post.user_id) %> | 
    <%= link_to 'Back to users', root_path %>
  </div>

</section>
